<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sandeep.atomicguru">

    <!-- 1. ADD THE 'android:name' ATTRIBUTE TO THE APPLICATION TAG -->
    <application
        android:name=".AtomicGuruApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android.fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AtomicGuru"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AtomicGuru">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. ADD THE NEW CRASH LOG ACTIVITY DECLARATION -->
        <activity
            android:name=".CrashLogActivity"
            android:exported="false"
            android:label="Crash Report"
            android:theme="@style/Theme.AtomicGuru" />

    </application>

</manifest>